<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <description>An  example that demonstrates simple IoC features.</description>
      <object name="CifsLocation1" type="Spring.Ioc.Test.CifsConnection">
        <property name="Username" value="from App Config" />
      </object>

      <object name="Repository1" type="Spring.Ioc.Test.Repository">
        <property name="Name" value="Repository1 from app config" />
        <property name="ConnectionInfo" ref="CifsLocation1" />
      </object>

      <object name="cifsFactory" type="Spring.Ioc.Test.ConnectionFactory" />

      <object name="cifsLocation2" factory-method="CreateCifsLocation" factory-object="cifsFactory" />
    </objects>
  </spring>
</configuration>
